*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    text-decoration: none; 
}
li {
    text-decoration: none; 
    list-style: none;
}
a { 
    text-decoration: none;
}